<section data-ng-controller="HomeController">
	<div data-ng-hide="authentication.user">
		<h2>Get a Detailed View of Someplace New.</h2>
		<h3>Coming Fall, 2014</h3>
		<p><b>Be</b>Locate helps you objectively compare different places, be they homes to rent, homes to buy, locations for a business, or detailed neighborhood information before booking a hotel. We provide up-to-date, highly detailed reports, maps, and data about locations you are about to invest your time and money in.</p>
		<p>We help you quickly do your homework before investing in a new place.</p>
		<div class="row" style="padding-top:15px;">
			<div class="col-lg-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">People <i class="fa fa-users"></i></h3>
					</div>
					<div class="panel-body">
						Find out detailed, local information about the people near the locations you are interested in, including census and other local population datasets.
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Emergency <i class="fa fa-ambulance"></i></h3>
					</div>
					<div class="panel-body">
						See where each location is, relative to crime and emergency services information, sex offendors, distance to hospitals and emergency medical facilities, and more.
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="panel panel-success">
					<div class="panel-heading">
						<h3 class="panel-title">Environment <i class="fa fa-tree"></i></h3>
					</div>
					<div class="panel-body">
						Information about positives like nearby parks, greenspace, urban farms. Also, information about brownfields, superfund sites, and even local environmental hazards like radon likelihood.
					</div>
				</div>
			</div>
		</div>
		<div class="row" style="padding-top:15px;">
			<div class="col-lg-4">
				<div class="panel panel-warning">
					<div class="panel-heading">
						<h3 class="panel-title">Transportation <i class="fa fa-bus"></i></h3>
					</div>
					<div class="panel-body">
						Information about local public transportation, walkability, traffic, estimated rush hour commutes from each of the locations you compare with several points of interest
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="panel panel-danger">
					<div class="panel-heading">
						<h3 class="panel-title">Community & Education <i class="fa fa-graduation-cap"></i></h3>
					</div>
					<div class="panel-body">
						Schools and Ratings, nearby parks and ammenities, neighborhood and civic associations and contact, among other attributes.
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title">Entertainment <i class="fa fa-beer"></i></h3>
					</div>
					<div class="panel-body">
						Nearby restaurants, bars, night-life, cultural-events, and more fun things.
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- -->
	<!-- -->
	<!-- -->
	<div data-ng-show="authentication.user">
		<h2>{{welcome}}</h2>
	</div>
</section>
