<section data-ng-controller="EnvironmentsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Environments</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="environment in environments" data-ng-href="#!/environments/{{environment._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="environment.created | date:'medium'"></span>
				by
				<span data-ng-bind="environment.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="environment.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!environments.$resolved || environments.length">
    	No Environments yet, why don't you <a href="/#!/environments/create">create one</a>?
    </div>
</section>