<section data-ng-controller="TransporationsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Transporations</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="transporation in transporations" data-ng-href="#!/transporations/{{transporation._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="transporation.created | date:'medium'"></span>
				by
				<span data-ng-bind="transporation.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="transporation.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!transporations.$resolved || transporations.length">
    	No Transporations yet, why don't you <a href="/#!/transporations/create">create one</a>?
    </div>
</section>